*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;

    section {
        margin: 2rem auto;
        padding: .5rem;
        max-width: 60rem;
        
        h1 {
            background-clip: text;
            background-image: linear-gradient(to right, orange, lightsalmon,
                        rgba(160, 25, 0, 0.9));
            color: transparent;
            text-align: center;
            font-size: 7.5rem;
            margin: 3rem auto;
        }

        img {
            max-width: 25rem;
            margin: .5rem;
            border-radius: 2rem;
            animation: moveInLeft 1s ease-out;
            float: right;

            @keyframes moveInLeft {
                0% {
                    translate: 10rem -3rem;
                }

                100% {
                    translate: 0rem 0rem;
                }
            }
        }

        p {
            color: cornsilk;
            font-size: 2rem;
            margin: 1.5rem auto;
            animation: moveInRight 1s ease-out;

            a {
                color: palegreen;
                text-decoration: none;
            }
            
            @keyframes moveInRight {
                0% {
                    translate: -10rem 3rem;
                }
        
                100% {
                    translate: 0rem 0rem;
                }
            }
        }
    }
}