*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 1),
                rgba(10, 10, 10, 0.9));
    background-size: cover;

    section {
        margin: 2rem auto;
        max-width: 60rem;
        
        h1 {
            color: lightsalmon;
            font-size: 8rem;
        }

        p {
            color: cornsilk;
            font-size: 2rem;
        }
    }
}